// HEADER-BANNER-BG-WRAPPER
.header-banner-bg-wrapper {
    background: url(../../../public/images/fz-1-banner-bg-1.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        background: radial-gradient(rgb(34 34 34 / 95%), $black-0);
        inset: 0;
        opacity: 80%;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../../../public/images/line.png) no-repeat center center;
        z-index: -1;
        background-size: cover;
    }
}

// INDEX-3 BANNER STYLES
.fz-3-banner-section {
    position: relative;
    color: $white;
    isolation: isolate;

    @include xs {
        overflow: visible;
    }

    .fz-3-banner-left-actions {
        position: absolute;
        bottom: 64px;
        left: -165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        z-index: 2;

        @include xxl {
            left: 0;
        }

        @include md {
            display: none;
        }

        .fz-3-banner-search-box {
            form {
                position: relative;
                overflow: hidden;
                border: 1px solid rgba(221, 221, 221, 0.51);
                border-radius: 30px;
                width: 36px;
                height: 36px;
                line-height: 37px;
                font-size: 14px;
                transition: all 0.4s ease;

                label {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                }

                &:hover,
                &:focus-within {
                    width: 250px;
                }
            }
        }


        #fz-3-banner-search {
            position: absolute;
            top: 0;
            left: 35px;
            height: 35px;
            color: #fff;
            z-index: 10;
            width: 100%;
            padding: 0 10px;
            padding-left: 35px;
            left: 0;
        }
    }

    .fz-3-banner-single-slide {
        padding: 174px 0;

        @include xxl {
            padding: 144px 0;
        }

        @include xl {
            padding: 114px 0;
        }

        @include lg {
            padding: 74px 0;
        }
    }

    .fz-3-banner-txt {
        text-align: center;

        >* {
            transition: all 0.9s ease;
            transform: translateY(50px);
            opacity: 0;
        }

        img {
            margin: auto;
            margin-bottom: 24px;
            width: 215px;
            height: auto;

            @include md {
                width: 195px;
            }

            @include xxs {
                width: 140px;
            }
        }

        h1 {
            font-family: $playfair;
            font-size: 70px;
            margin-bottom: 16px;
            color: $white;
            transition-delay: 0.2s;

            @include xl {
                font-size: 55px;
            }

            @include lg {
                font-size: 50px;
            }

            @include md {
                font-size: 45px;
            }

            @include sm {
                font-size: 40px;
            }

            @include xs {
                font-size: 35px;
            }

            @include xxs {
                font-size: 30px;
            }
        }

        p {
            font-family: $roboto;
            font-weight: 400;
            font-size: 16px;
            padding: 0 50px;
            margin-bottom: 42px;
            transition-delay: 0.4s;

            @include xxs {
                padding: 0;
            }
        }

        .fz-3-def-btn {
            translate: 0;
        }
    }

    .fz-3-banner-product-cards {
        @include lg {
            display: none;
        }

        .fz-3-single-product {
            position: absolute;
            top: 174px;
            animation: upDown 2s linear infinite alternate;

            img {
                margin-bottom: 22px;
                width: 215px;
                aspect-ratio: 1;
            }

            &__title {
                color: $white;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;

                a:hover {
                    color: $color-3;
                }
            }

            &__price {
                color: $white;
            }

            &-2 {
                top: auto;
                bottom: 174px;
                right: 0;
            }
        }
    }

    .swiper-slide-active {
        .fz-3-banner-txt {
            >* {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        gap: 20px;
        position: absolute;
        bottom: 34px;
        left: 50%;
        translate: -50%;

        .owl-dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $white;

            &.active {
                outline: 1px solid $white;
                outline-offset: 5px;
            }
        }
    }
}


@keyframes upDown {
    0% {
        translate: 0 -20px;
    }

    100% {
        translate: 0 0;
    }
}


// INDEX-2 BANNER STYLES
.fz-2-banner-section {
    overflow-x: hidden;
    position: relative;
    background-color: var(--clr-gray-soft);

    @include xs {
        overflow: visible;
    }

    .fz-banner-left-actions {
        position: absolute;
        bottom: 60px;
        left: -165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;

        @include xxl {
            left: -5px;
        }

        @include xl {
            left: 0;
        }

        @include lg {
            left: 6px;
        }

        @include md {
            display: none;
        }

        .fz-banner-socials {
            writing-mode: vertical-lr;
            scale: -1;

            ul {
                gap: 20px;

                li a {
                    &:hover {
                        color: $color-3;
                    }
                }
            }
        }

        .fz-banner-search-btn {
            .fz-cb_search_switch {
                translate: 0 0;

                &:hover {
                    translate: 0 -5px;
                    color: $color-3;
                }
            }
        }
    }

    .fz-banner-txt {
        @include xxl {
            padding-left: 50px;
        }

        @include md {
            padding: 50px 0;
            padding-right: 50px;
        }

        @include xxs {
            padding-right: 35px;
        }

        h1 {
            font-family: $soligant;
            font-size: 110px;
            margin-bottom: 50px;

            @include xxl {
                font-size: 90px;
            }

            @include xl {
                font-size: 75px;
            }

            @include lg {
                font-size: 60px;
            }

            @include md {
                font-size: 55px;
                margin-bottom: 35px;
            }

            @include sm {
                font-size: 50px;
            }

            @include xs {
                font-size: 45px;
            }

            @include xxs {
                font-size: 35px;
            }
        }
    }

    .fz-def-btn {
        border-color: $black;
        color: $black;

        &:hover {
            color: $white;
        }

        span {
            background-color: $black;
        }
    }

    .fz-banner-vid {
        position: relative;
        width: fit-content;

        @include md {
            width: 100%;
        }

        &-img {
            max-width: none;
            width: 819px;
            filter: brightness(0.7);
            object-fit: cover;

            @include xxl {
                width: 730px;
            }

            @include xl {
                width: 600px;
            }

            @include lg {
                width: 520px;
            }

            @include md {
                width: 100%;
            }

            @include xxs {
                height: 190px;
            }
        }

        &-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            border: 1px solid $white;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            font-size: 35px;
            line-height: 128px;
            color: $white;
            animation: shadowFadeOut 1.6s linear infinite;

            @include xxs {
                width: 90px;
                height: 90px;
                line-height: 90px;
                font-size: 30px;
                top: 14%;
                translate: -50% 0;
            }

            &:hover {
                color: $color-3;
                border-color: $color-3;
            }
        }

        &-txt {
            position: absolute;
            bottom: 0;
            left: 0;
            background: var(--clr-gray-soft);
            padding: 30px 50px;

            @include xxs {
                position: relative;
                width: 100%;
            }

            &::before,
            &::after {
                position: absolute;
                content: "";
                top: 25px;
                right: 25px;
                width: 16px;
                height: 16px;
                border: solid var(--clr-body-dark);
                border-width: 1px 1px 0 0;
            }

            &::after {
                bottom: 25px;
                left: 25px;
                top: auto;
                border-width: 0 0 1px 1px;
            }

            h4 {
                font-family: $soligant;
                font-size: 34px;
                font-weight: 400;
                margin-bottom: 0;

                @include lg {
                    font-size: 30px;
                }

                @include md {
                    font-size: 28px;
                }

                @include xxs {
                    font-size: 25px;
                }

                span {
                    display: block;
                    font-size: 60px;

                    @include lg {
                        font-size: 55px;
                    }

                    @include md {
                        font-size: 50px;
                    }

                    @include xxs {
                        font-size: 35px;
                    }
                }
            }
        }

        .fz-banner-rounded-sticker {
            position: absolute;
            left: calc(0% - 150px);
            bottom: calc(181px + 55px);

            @include xl {
                left: calc(0% - 90px);
            }

            @include md {
                display: none;
            }

            .fz-rotateText {
                animation: rotateText 6s linear infinite;

                @include xl {
                    width: 140px;
                }

                @keyframes rotateText {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }


            .fz-diamond-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;

                @include xl {
                    width: 50px;
                }
            }
        }
    }

    .fz-cbsearchbar {
        background-color: var(--clr-gray-soft);
        text-align: start;
        position: fixed;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 0;
        width: 100%;
        min-height: 320px;
        box-shadow: rgba(5, 13, 54, 0.05) 5px 15px 30px 0px;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 9999999;
        transform: translateY(-100%);

        &.fz-cb-searchbar-opened {
            transform: translateY(0);
        }

        &__title {
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 35px;
            line-height: 1.3;
            color: var(--clr-common-black);
            letter-spacing: 1.7px;
            word-spacing: 1px;
        }

        &__form {
            form {
                display: flex;

                input {
                    width: 100%;
                    height: 60px;
                    border: 1px solid var(--clr-body-text);
                    border-right: 0;
                    padding: 10px 20px;
                    padding-right: 0;
                    color: var(--clr-body-text);
                    font-size: 16px;
                    font-weight: 500;
                }

                .fz-cbsearchbar__search-btn {
                    padding: 0 20px;
                    border: 1px solid var(--clr-body-text);
                    border-left: 0;
                }
            }
        }

        &__close {
            width: 35px;
            height: 35px;
            line-height: 36px;
            position: absolute;
            top: 60px;
            right: 20%;
            font-size: 18px;
            transition: all 0.3s;
            border-radius: 50%;
            color: var(--clr-common-black);
            background: $border-color;

            &:hover {
                background: var(--clr-common-black);
                color: $border-color;
            }

            @include md {
                right: 50px;
            }
        }
    }

    .fz-overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        bottom: 0;
        transition: all .5s;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99911;

        &.open {
            opacity: 1;
            visibility: visible;
        }
    }
}

// INDEX-1 BANNER STYLES
.fz-1-banner-section {
    background-color: #f8f8f8;
    padding-top: 110px;

    @include xl {
        padding-top: 60px;
    }

    .fz-1-banner-single-slide {
        overflow: hidden;

        >.container>.row {
            @include lg {
                align-items: center;
            }

            @include sm {
                --bs-gutter-y: 30px;
            }
        }
    }

    .fz-1-banner-txt {
        padding-top: 150px;

        @include lg {
            padding-top: 0;
        }

        h1 {
            font-size: 70px;
            margin-bottom: 40px;
            text-transform: capitalize;

            @include xl {
                font-size: 52px;
            }

            @include lg {
                font-size: 45px;
            }

            @include md {
                font-size: 40px;
            }

            @include xs {
                font-size: 35px;
            }

            @include xxs {
                font-size: 30px;
            }
        }

        &__btns {
            display: flex;
            gap: 40px;
            align-items: center;

            @include md {
                gap: 20px;
            }
        }
    }

    .fz-1-banner-vid-btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: $black;
        font-size: 16px;
        border: 1px solid #e2e2e2;
        transition: all 0.4s ease;
        animation: shadowFadeOut 1.6s linear infinite;

        @include md {
            width: 50px;
            height: 50px;
        }

        @include sm {
            font-size: 14px;
            height: 40px;
            width: 40px;
            line-height: 37px;
        }

        &:hover {
            color: $color-3;
            border-color: $color-3;
        }
    }

    .fz-1-banner-img-container {
        position: relative;
        width: max-content;
        margin-left: auto;

        @include xs {
            margin: auto;
        }

        @include xxs {
            margin: unset;
            width: 80%;
            margin-left: auto;
        }

        .sticker-container {
            position: absolute;
            width: fit-content;
            height: fit-content;
            bottom: 200px;
            left: -130px;
            z-index: 2;

            @include lg {
                bottom: 80px;
                left: -50px;
            }

            .sticker {
                position: relative;
                animation: rotateText 6s linear infinite;

                @include lg {
                    width: 110px;
                }

                @include md {
                    width: 90px;
                }
            }

            >span {
                font-family: $tenorSans;
                font-size: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;

                @include md {
                    font-size: 30px;
                }
            }
        }
    }

    .fz-1-banner-img {
        background-color: $white;
        height: 100%;
        text-align: center;
        padding: 80px 160px;
        width: fit-content;
        margin-left: auto;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        position: relative;

        @include lg {
            padding: 50px 130px;
        }

        @include md {
            padding: 50px 80px;
        }

        @include xxs {
            padding: 50px 70px;
        }

        &::before {
            position: absolute;
            content: "";
            border: 1px solid #ddd;
            border-top-left-radius: 300px;
            border-top-right-radius: 300px;
            top: 0;
            right: 40px;
            width: 100%;
            height: 100%;
        }

        img {
            transition: all 1s ease 0.1s;
            transform: translateY(100px);
            opacity: 0;
            width: 258px;
            height: 586px;
            height: auto;

            @include xl {
                width: 180px;
            }

            @include lg {
                width: 160px;
            }
        }
    }

    .swiper-slide-active {
        & .fz-1-banner-img img {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        bottom: 45px;
        width: 100%;

        .owl-dot {
            background-color: #e2e2e2;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transition: all 0.4s ease;

            &.active {
                background-color: $black;
            }
        }
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 5px;
        border: 1px solid rgb(0 0 0/ 15%);
        transition: all 0.4s ease;
        visibility: visible;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    .owl-nav {
        position: absolute;
        visibility: hidden;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 98%;
        display: flex;
        justify-content: space-between;
        z-index: 9;
    }
}

.fz-1-banner-btn {
    border: 1px solid #e2e2e2;
    border-radius: 30px;
    height: 60px;
    padding: 0 45px;
    line-height: 57px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    z-index: 1;
    vertical-align: top;

    @include md {
        font-size: 16px;
        padding: 0 35px;
        height: 50px;
        line-height: 47px;
    }

    @include sm {
        font-size: 14px;
        padding: 0 25px;
        height: 40px;
        line-height: 37px;
    }

    &:hover {
        color: $white;

        &::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }

    i {
        margin-left: 5px;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $black;
        border-radius: 30px;
        right: 0;
        width: 0%;
        top: 0;
        height: 100%;
        transition: all 0.4s ease 0.1s;
        z-index: -1;
    }
}

.text5 {
    letter-spacing: 0.1rem;

    span {
        display: inline-block;
        color: black;
        text-transform: none;
    }
}

@keyframes shadowFadeOut {
    0% {
        box-shadow: 0 0 0 0 #ddd, 0 0 0 0 #ddd, 0 0 0 0 #ddd;
    }

    100% {
        box-shadow: 0 0 0 35px transparent, 0 0 0 25px transparent, 0 0 0 15px transparent;
    }
}