/* INDEX-1 FOOTER SECTION */
.fz-1-footer-section {
    background-color: $white;
    color: #616161;
    font-weight: 300;

    .fz-footer-top {
        padding: 100px 0;
        border-bottom: 1px solid #2d2d2d;

        @include md {
            padding: 60px 0;
        }

        @include xxs {
            padding: 40px 0;
        }

        .fz-footer__contact-info {
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include md {
                    gap: 10px;
                }
            }

            a {
                display: block;

                i {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }

            li {
                &:not(:last-child) {
                    a {
                        border-bottom: 1px solid #2d2d2d;
                        padding-bottom: 20px;

                        @include md {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }

        .fz-footer-widget {
            &__title {
                font-family: $playfair;
                font-size: 22px;
                margin-bottom: 30px;
                color: $white;

                @include md {
                    margin-bottom: 17px;
                }

                @include sm {
                    margin-bottom: 12px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 13px;

                @include xxs {
                    gap: 8px;
                }

                li a {
                    &:hover {
                        color: $color-3;
                    }
                }
            }
        }
    }



    .fz-footer-top {
        background-color: #f8f8f8;
        border: none;

        .fz-footer-widget__title {
            font-family: $tenorSans;
            color: #191919;
        }

        .fz-footer__contact-info li:not(:last-child) a {
            border-color: rgb(0 0 0 / 5%);
        }
    }

    .fz-footer-about {
        padding-right: 60px;

        @include xl {
            padding-right: 0;
        }

        @include md {
            padding-right: 30px;
        }

        @include sm {
            padding-right: 0;
        }

        &__txt {
            margin-bottom: 24px;
        }
    }

    .fz-footer-bottom {
        padding: 20px 0;

        .fz-copyright {
            margin-bottom: 0;

            @include md {
                text-align: center;
            }
        }

        .fz-footer-socials {
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 20px;

                @include sm {
                    justify-content: center;
                }

                @include xxs {
                    gap: 10px;
                }
            }

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #7c7c7c;
                border-radius: 50%;

                @include xxs {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: #7c7c7c;
                    color: $white;
                }
            }
        }
    }

    .fz-footer-about.fz-footer-widget {
        @include xl {
            text-align: center;
            width: 60%;
            margin: auto;
        }

        @include lg {}

        @include md {
            width: 100%;
            text-align: left;
        }
    }
}

/* INDEX-2 FOOTER SECTION */
.fz-2-footer-section {
    .fz-footer-top {
        padding: 100px 0;
        background-color: var(--clr-gray-soft);

        @include md {
            padding: 60px 0;
        }

        .fz-footer-about {
            padding-right: 35px;

            @include lg {
                padding-right: 30px;
            }

            @include sm {
                padding-right: 0;
            }

            .fz-logo {
                margin-bottom: 35px;
            }

            &__txt {
                padding-bottom: 17px;
                border-bottom: 1px solid #DBDBDB;
                margin-bottom: 25px;
                font-weight: 300;
                color: var(--clr-body-text);
            }

            .fz-footer-socials {
                color: var(--clr-body-text);

                &-title {
                    margin-bottom: 20px;

                    @include sm {
                        margin-bottom: 10px;
                    }
                }

                ul {
                    gap: 15px;

                    li a {
                        &:hover {
                            color: $color-3;
                        }
                    }
                }
            }
        }

        .fz-footer-widget {
            &__title {
                font-family: $soligant;
                font-size: 22px;
                margin-bottom: 27px;
                color: var(--clr-body-dark);

                @include md {
                    margin-bottom: 17px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 13px;
                font-weight: 300;

                li a {
                    color: var(--clr-body-text);

                    &:hover {
                        color: $color-3;
                    }
                }
            }
        }
    }


    .fz-footer-subscribe {

        &-txt {
            color: var(--clr-body-text);
            margin-bottom: 10px;
            font-weight: 300;
        }

        &-form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-input {
                width: 100%;
                position: relative;
                border: 1px solid var(--clr-body-dark);
                padding: 12px 15px;

                .fz-footer-subs-icon {
                    position: absolute;
                    right: 15px;
                }

                input {
                    padding-right: 25px;
                    width: 100%;
                }
            }

            .fz-footer-subs-btn {
                width: 100%;
                background-color: $black;
                color: $white;
                text-transform: capitalize;
                padding: 12px 0;
                border: 1px solid $black;

                &:hover {
                    background-color: $white;
                    color: $black;
                }

                i {
                    margin-left: 10px;
                }
            }
        }
    }

    .fz-footer-bottom {
        padding: 20px 0;

        .fz-copyright {
            margin-bottom: 0;

            @include md {
                text-align: center;
            }
        }
    }
}

/* INDEX-3 FOOTER SECTION */
.fz-3-footer-section {
    background-color: #111;
    color: #b5b5b5;

    .fz-3-footer-top {
        padding: 100px 0;
        border-bottom: 1px solid #2d2d2d;

        @include md {
            padding: 60px 0;
        }

        .fz-3-footer__contact-info {
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include xxs {
                    gap: 10px;
                }
            }

            a {
                display: block;

                i {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }

            li {
                &:not(:last-child) {
                    a {
                        border-bottom: 1px solid #2d2d2d;
                        padding-bottom: 20px;

                        @include xxs {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }

        .fz-3-footer-widget {
            &__title {
                font-family: $playfair;
                font-size: 22px;
                margin-bottom: 30px;
                color: $white;

                @include md {
                    margin-bottom: 17px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 13px;

                li a {
                    &:hover {
                        color: $color-3;
                    }
                }
            }
        }
    }

    .fz-3-footer-subscribe {
        &-txt {
            margin-bottom: 20px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-input {
                width: 100%;
                position: relative;
                border: 1px solid #e2e2e2;
                padding: 12px 15px;

                @include xxs {
                    padding: 7px 12px;
                }

                .fz-3-footer-subs-icon {
                    position: absolute;
                    right: 15px;
                }

                input {
                    padding-right: 25px;
                    width: 100%;
                    color: $white;
                }
            }

            .fz-3-footer-subs-btn {
                width: 100%;
                background-color: $white;
                color: $black-0;
                text-transform: capitalize;
                padding: 12px 0;
                border: 1px solid $white;
                font-weight: 500;

                @include xxs {
                    padding: 8.5px 0;
                    font-size: 14px;
                }

                &:hover {
                    background-color: $black;
                    color: $white;
                }

                i {
                    margin-left: 10px;
                }
            }
        }
    }

    .fz-3-footer-bottom {
        padding: 20px 0;

        .fz-3-copyright {
            margin-bottom: 0;

            @include md {
                text-align: center;
            }
        }

        .fz-3-footer-socials {
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 20px;

                @include md {
                    justify-content: center;
                }

                @include xxs {
                    gap: 10px;
                }
            }

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #7c7c7c;
                border-radius: 50%;

                @include xxs {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: #7c7c7c;
                    color: $white;
                }
            }
        }
    }
}