html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--clr-common-white);
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $playfair;
    margin: 0;
    line-height: 1.4;
}

.fz-1-body {
    font-family: $kanit;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $tenorSans;
    }
}

body p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
    div.container-2 {
        max-width: 1830px;
    }

    .container {
        max-width: 1464px;

        @media #{$xxl} {
            max-width: 1290px;
        }
    }
}

input,
select,
textarea,
button {
    padding: 0;
    border: 0;
    outline: none;
    transition: 0.3s;
    background: transparent;
}

input[type=number],
[type=month] {
    width: 100%;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        appearance: none;
        margin: 0;
    }
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

span {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-default {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fz-def_btn_wrapper {
    display: inline-block;
}

.fz-def-btn {
    width: 150px;
    height: 150px;
    line-height: 150px;
    display: inline-block;
    text-align: center;
    color: $white;
    border: 1.5px solid $white;
    border-radius: 50%;
    background: transparent;
    font-weight: 500;
    font-family: "Adobe Clean", sans-serif;
    transition: all 0.7s;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &:hover {
        color: $black-0;

        & span {
            width: 380px;
            height: 380px;
        }
    }

    @include lg {
        width: 130px;
        height: 130px;
        line-height: 130px;
    }

    @include xxs {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 14px;
    }

    span {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        background-color: $white;
        z-index: -1;
        border-radius: 100%;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


    i {
        font-size: 14px;
        display: inline-block;
        padding-left: 5px;
    }
}

.fz-3-section-heading {
    padding-bottom: 30px;
    margin-bottom: 27px;

    @include xl {
        padding-bottom: 20px;
        margin-bottom: 17px;
    }

    @include md {
        padding-bottom: 15px;
        margin-bottom: 12px;
    }

    .fz-section-title {
        font-size: 48px;
        font-weight: 600;
        color: #231C1A;
        margin-bottom: 11px;

        @include xl {
            font-size: 38px;
        }

        @include lg {
            font-size: 35px;
        }

        @include md {
            font-size: 32px;
        }

        @include sm {
            font-size: 30px;
        }

        @include xs {
            font-size: 28px;
        }

        @include xxs {
            font-size: 25px;
        }
    }

    .fz-section-sub-title {
        font-size: 16px;
        font-weight: 400;
        color: #616161;
    }
}

.fz-2-section-heading {
    margin-bottom: 45px;

    @include md {
        margin-bottom: 30px;
    }

    .fz-section-title {
        font-family: $soligant;
        font-size: 50px;
        margin-top: -5px;
        margin-bottom: 0;
        font-weight: 500;

        @include lg {
            font-size: 40px;
        }

        @include md {
            font-size: 35px;
        }

        @include sm {
            text-align: center;
        }

        @include xxs {
            font-size: 30px;
        }
    }
}

.fz-1-section-heading {
    text-align: center;
    margin-bottom: 60px;

    @include xl {
        margin-bottom: 35px;
    }

    @include sm {
        margin-bottom: 20px;
    }

    .fz-section-title {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 0;

        @include xl {
            font-size: 40px;
        }

        @include lg {
            font-size: 35px;
        }

        @include md {
            font-size: 30px;
        }

        @include sm {
            font-size: 27px;
        }

        @include xs {
            font-size: 25px;
        }
    }
}

.col-xs-12 {
    @include xs {
        width: 100%;
    }
}

.col-xxs-6 {
    @include xxs {
        width: 50%;
    }
}

.col-xxs-12 {
    @include xxs {
        width: 100%;
    }
}

.align-self-xxs-start {
    @include xxs {
        align-self: flex-start !important;
    }
}

// SPACING UTILITY CLASSES
.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-25 {
    padding: 25px 0;
}

.pb-65 {
    padding-bottom: 65px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-75 {
    padding-left: 75px;
}

.pt-75 {
    padding-top: 75px;
}

.pl-60 {
    padding-left: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-65 {
    padding-bottom: 65px;
}

.mr-25 {
    margin-right: 25px;
}

.pt-10 {
    padding-top: 8px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-45 {
    padding-left: 45px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-70 {
    padding-top: 70px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.pr-155 {
    padding-right: 155px;
}

.pr-135 {
    padding-right: 135px;
}

.pl-160 {
    padding-left: 160px;
}

.pr-160 {
    padding-right: 160px;
}

.pr-215 {
    padding-right: 215px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-90 {
    padding-top: 90px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-145 {
    padding-left: 145px;
}

.pr-145 {
    padding-right: 145px;
}

.pt-95 {
    padding-top: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-90 {
    padding-left: 90px;
}

.pr-90 {
    padding-right: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-164 {
    padding-top: 164px;
}

.pl-10 {
    padding-left: 10px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pr-8 {
    padding-right: 8px;
}

.mb-4 {
    margin-bottom: 4px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-163 {
    padding-top: 163px;
}

.pr-50 {
    padding-right: 50px;
}

.pt-198 {
    padding-top: 198px;
}

.pt-168 {
    padding-top: 168px;
}

.pl-45 {
    padding-left: 45px;
}

.pr-45 {
    padding-right: 45px;
}

.pt-155 {
    padding-top: 155px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pt-25 {
    padding-top: 25px;
}

.pl-50 {
    padding-left: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-15 {
    padding-bottom: 15px;
}

.mb-70 {
    margin-bottom: 70px;
}

.pl-120 {
    padding-left: 120px;
}

.pr-120 {
    padding-right: 120px;
}

.pl-112 {
    padding-left: 112px;
}

.mt-20 {
    margin-top: 20px;
}

.pr-70 {
    padding-right: 70px;
}

.pt-43 {
    padding-top: 43px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-65 {
    margin-bottom: 65px;
}

.pb-58 {
    padding-bottom: 58px;
}

.pt-105 {
    padding-top: 105px;
}

.pl-55 {
    padding-left: 55px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mt-45 {
    margin-top: 45px;
}

.pt-150 {
    padding-top: 150px;
}

.pr-105 {
    padding-right: 105px;
}

.pt-27 {
    padding-top: 27px;
}

.pt-65 {
    padding-top: 65px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-63 {
    margin-bottom: 63px;
}